.App {

}

.App-header {
  background-color: gray;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: dotted 1px black;
  margin: 3px
}

.login-button{
  float: left;
}

.App-body {
  min-height: 800px;
}

.Room-list {
  float: left;
  min-height: 785px;
  border: dotted .5px coral;
  padding: 5px;
  margin: 3px;
  text-align: center;
  display: flex;
  text-align: left;
}

.list-messages {
  float: center;
  min-height: 785px;
  border: dotted .5px teal;
  padding: 5px;
  margin: 3px;
  display: flex;
}

.activeRoom {
  background-color: coral;
}


.App-footer {
  min-height: 15px;
  border: solid .5px black;
  text-align: center;
  justify-content: center;
}
