

.App-header {
  background-color: #f2f2f2;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: black;
  border: dotted 1px black;
  margin: 3px
}

.header-title{
  color:coral;
  font-family: monospace;
  margin-top:3px;
}

.login-button{
  float: left;
  padding: 3px;
  margin: 3px;
  background-color: coral;
  color: black;
  font-family: monospace;
}

.log-out-button {
  float: left;
  padding: 3px;
  margin: 3px;
  background-color: coral;
  color: black;
  font-family: monospace;
}

.display-user-name{
  float: right;
  font-family: monospace;
}

.Room-list {
  min-height: 100px;
  width: 1250px;
  border: dotted .5px coral;
  padding: 10px;
  margin: 3px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.room-buttons {
  padding: 3px;
  margin: 5px;
  color: white;
  background-color: teal;
  font-family: monospace;
}

.Message-box-captions{
  text-align: center;
}
.list-messages {
  min-height: 800px;
  border: dotted .5px teal;
  padding: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title{
  float: left;
  font-style: italic;

}
.create-button{
  margin: 3px;
  padding:3px;
  font-family: monospace;
  background-color: coral;
}

.delete-button{
  margin: 3px;
  padding:3px;
  font-family: monospace;
  background-color: coral;
  float:right;
}
.send-button{
  margin:3px;
  padding: 3px;
  background-color: coral;
  font-family: monospace;
}

.no-assigned-room {
  text-align: center;
  font-family: monospace;
  font-size: 5em;
}
