.App {

}

.App-header {
  background-color: gray;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: dotted 1px black;
  margin: 3px
}

.App-body {
  min-height: 500px;
}

.Room-list {
  float: left;
  min-height: 480px;
  border: dotted .5px orange;
  padding: 5px;
  margin: 3px;
  text-align: center;
  display: flex;

}

.list-messages {
  float: left;
  min-height: 480px;
  border: dotted .5px teal;
  padding: 5px;
  margin: 3px;
  display: flex;
}

.activeRoom {
  background-color: lightblue;
}


.App-footer {
  min-height: 15px;
  border: solid .5px black;
  text-align: center;
  justify-content: center;
}
